@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,400&family=Recursive:wght@300;400;500;600;700&display=swap");
/* font-family: 'Poppins', sans-serif;
font-family: 'Recursive', sans-serif; */
* {
  font-family: "Poppins", sans-serif;
  color: #acb5ba;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  --primary-background: #121212;
  --secondary-background: #3d3d3d;
  --hover-background: #1b1d1e;
  --primary-text: #acb5ba;
  --special-text: #9ad1ed;
  --shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--primary-background);
}

label {
  display: block;
}

button {
  color: var(--primary-background);
  padding: 0.3rem 0.5rem;
  border: none;
  background-color: #1a8cd8;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
  scale: 1.01;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttons-group {
  display: flex;
  gap: 1rem;
}

.buttons-group button {
  width: 100%;
}

input {
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  color: black;
}

.app {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  gap: 2rem;
  padding: 2rem;
}

.left {
  width: 75%;
  background-color: var(--hover-background);
  border-radius: 1rem;
  /* padding: 1rem; */
  overflow: scroll;
  position: relative;
}

.left h1 {
  padding: 1rem;
  position: sticky;
  background-color: var(--hover-background);
  box-shadow: 0px 2px 20px 3px rgba(0, 0, 0, 0.5);
  top: 0rem;
}

.left .margin {
  height: 1rem;
  position: sticky;
  background-color: var(--hover-background);
  box-shadow: 0px 2px 20px 3px rgba(0, 0, 0, 0.5);
  bottom: 0rem;
}

.left .pad {
  padding: 1rem;
}

.right {
  width: 25%;
  background-color: var(--hover-background);
  border-radius: 1rem;
  padding: 1rem;
}

.column {
  height: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.table {
  background-color: var(--hover-background);
  width: 100%;
  color: #7f848c;
  border-collapse: collapse;
  border: 1px solid var(--special-text);
  border-radius: 1rem;
}

th {
  font-weight: bold;
  font-size: larger;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--special-text);
}

td {
  border: 1px solid var(--special-text);
  padding: 15px;
}

th,
tr {
  border: 1px solid var(--special-text);
  text-align: center;
  vertical-align: inherit;
  border-color: inherit;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.left::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.left {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
